body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #ffecd2 0%, #fcb69f 100%);
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 3px solid rgb(88, 242, 222);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #c3f1ec;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(241, 38, 72);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d00468;
}

.message {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}